html {
    background-color: rgb(76, 120, 204);
}

.projectName {
    font-family: "Brush Script MT", cursive;
    font-size: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #ffb400, #e933ff);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 5s linear infinite;
}

@keyframes textflow {
    from {
        background-position: 0% center
    }

    to {
        background-position: 200% center
    }
}

.Mapstyle {
    display: flex;
    justify-content: center;
}

.maplibregl-canvas
{
    border-radius: 50px;
}

#cloudiness {
    width: 47px;
    opacity: 0.5;
}

.MapTable {
    display: flex;
    justify-content: center;
    cursor: help;
}

table, td {
    border: 3px solid rgb(184, 6, 6);
    width: 80%;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;   
    table-layout: fixed;
}

#hidden-temp {
    position: inherit;
    display: none;
    color: rgb(0, 255, 0);
}

#IconsLinks {
    cursor: help;
}
